<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	" default-lazy-init="true">

	<!-- 加载配置文件 -->
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>				
				<value>classpath:/conf/properties/db.properties</value>
			</list>
		</property>
	</bean>	
	
	<!-- dataSource: c3p0 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${driverClass}" />
		<property name="jdbcUrl" value="${jdbcUrl}" />
		<property name="user" value="${user}" />
		<property name="password" value="${password}" />
		<property name="initialPoolSize" value="${initialPoolSize}" />
		<property name="minPoolSize" value="${minPoolSize}" />
		<property name="maxPoolSize" value="${maxPoolSize}" />
		<property name="acquireIncrement" value="${acquireIncrement}" />
		<property name="maxStatements" value="${maxStatements}" />
		<property name="maxIdleTime" value="${maxIdleTime}" />
		<property name="checkoutTimeout" value="${checkoutTimeout}" />
	</bean>	
	
	<!-- sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource"  ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.connection.pool.size">${hibernate.connection.pool.size}</prop>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="jdbc.fetch_size">${jdbc.fetch_size}</prop>
				<prop key="jdbc.batch_size">${jdbc.batch_size}</prop>
				<prop key="Connection.useUnicode">${Connection.useUnicode}</prop>
				<prop key="connection.characterEncoding">${connection.characterEncoding}</prop>
			</props>
		</property>
	</bean>

	<!-- 事务管理器 -->
	<bean id="transactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 事务拦截器: 使用拦截器而不是aop-->
	<bean id="transactionInterceptor" 
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<!-- 事务属性 -->
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="tx*">PROPAGATION_REQUIRED</prop>
				<prop key="operate*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="find*">PROPAGATION_REQUIRED, readOnly</prop>
			</props>	
		</property>
	</bean>







</beans>
